@import url(../css/main.css);

.navbar-collapse {
    align-self: end;
}
/*BANNER contato*/
#banner .banner-content {
    margin-left: 0;
    margin-bottom: 0;
    padding: 100px;
}

#banner .imgarea {
    text-align: center;
    padding-bottom: 20px;

}

#banner .imgarea img {
    width: 168px;
}
#banner .titulo h1 { 
    font-weight: 900;
    text-transform: uppercase;
    text-align:center;
}

header .container .navbar-brand #logo {
    width: 215px;
    margin-top: -15px;
}

